// AGENCIA
.agencia {
  background: url('../imgs/agencia-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 8vw;
  padding: 0 0 14vw 0;
  .bg {
    padding: 3.4vw 6vw 0vw 0;
    background: linear-gradient(to bottom, #000 60%, transparent);
  }
  .itens {
    display: flex;
    justify-content: space-between;
    @include celular {
      align-items: center;
    }
    .item {
      &:first-child {
        width: 44%;
      }
      &:nth-child(2) {
        width: 50%;
        padding: 4vw 0 0 0;
      }
      .header-wrapper {
        display: flex;
        align-items: flex-end;
        margin: 0 0 3vw 0;
        .titulo {
          color: #fdfdfd;
          font-size: 5vw;
          text-transform: uppercase;
          font-weight: 300;
          letter-spacing: 0.6vw;
          line-height: 80%;
        }
        .linha {
          height: 0.05vw;
          width: 25%;
          background: #fdfdfd;
          position: absolute;
          right: 0;
        }
      }
      img {
        width: 100%;
      }
      .texto {
        text-transform: uppercase;
        color: #fdfdfd;
        line-height: 4vh;
        font-size: 1.1vw;
        margin: 2vw 0 0 0;
        font-weight: 200;
        @include tablet {
          line-height: 2vh;
        }
        @include celular {
          font-size: 1.6vw;
          line-height: 1.8vh;
        }
        span {
          font-weight: 800;
          color: #fff;
        }
      }
    }
  }
}
