// CLIENTES
.clientes {
  background: linear-gradient(to bottom, #f1f1f1 90%, #fff);
  .header-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 8vw 6vw 6vw 6vw;
    .titulo {
      font-size: 5vw;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.6vw;
      line-height: 80%;
    }
    .linha {
      height: 0.05vw;
      width: 64%;
      background: #000;
      position: absolute;
      right: 0;
    }
  }
  .itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      border: 0.1vw solid #d8d8d8;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      img {
        width: 100%;
        height: 35vh;
        object-fit: contain;
        @include tablet {
          height: auto;
        }
      }
    }
  }
  .mensagem {
    .texto {
      font-size: 1vw;
      margin: auto;
      padding: 8vw 0.8vw 0 0.8vw;
      width: max-content;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.15vw;
      color: #333;
      @include celular {
        font-size: 1.4vw;
      }
    }
    .area-botao {
      width: max-content;
      margin: 8vw auto;
      .botao-principal {
        color: #aaaaaa;
        &:hover {
          color: #000;
        }
      }
    }
    .info {
      width: max-content;
      margin: auto;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0 0 8vw 0;
      .endereco,
      .telefone,
      .email {
        text-transform: uppercase;
        font-size: 1vw;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.05vw;
      }
      .telefone {
        font-size: 1.6vw;
      }
      a + a {
        margin: 2.5vw 0 0 0;
      }
      .redes-sociais {
        margin: 3vw 0 0 0;
        a {
          img {
            width: 1.4vw;
          }
          + a {
            margin: 0 0 0 2vw;
          }
        }
      }
    }
  }
}
