// CONTATO
.contato {
  background: #fff;
  position: fixed;
  width: 0%;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 2s;
  transform: skewX(0deg);
  z-index: 999999;
  .faixa-contato {
    width: 100%;
    height: 100vh !important;
    background: linear-gradient(45deg, #353535, #000);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    transition: 2s ease-out;
    transform: scaleX(0deg);
  }
  .itens {
    display: flex;
    @include tablet {
      flex-direction: column;
    }
    // BACKGROUND
    .bg {
      width: 50%;
      background: url('../imgs/contato2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      @include tablet {
        width: 100%;
        height: 30vh;
        background-position: center;
      }
      @include celular {
        height: 20vh;
      }
      img {
        width: 100%;
        height: 140vh;
      }
    }
    // FORMULARIO
    .formulario {
      width: 50%;
      padding: 3vw 6vw 12vw 4vw;
      overflow: scroll;
      height: 120vh;
      @include tablet {
        width: 70%;
        padding: 6vw 4vw 0vw 4vw;
        margin: auto;
      }
      @include celular {
        overflow: hidden;
        padding: 6vw 4vw 0vw 4vw;
      }
      .area-texto {
        .texto {
          width: max-content;
          margin: 0;
          color: #636363;
          font-size: 1.1vw;
          @include celular {
            font-size: 1.4vw;
          }
          + .texto {
            margin: 1vh 0 0 0;
            @include celular {
              margin: 0.5vw 0 0 0;
            }
          }
          &:first-child {
            font-weight: 800;
          }
        }
      }
      form {
        margin: 2vw 0 0 0;
        .campo,
        .campo-mensagem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // border-bottom: 0.1vw solid #e1e5ef;
          padding: 1.2vw 0;
          @include celular {
            padding: 0;
          }
          label {
            text-transform: uppercase;
            font-size: 0.9vw;
            font-weight: 800;
            width: max-content;
            white-space: pre;
            margin: 0 4vw 0 0;
          }
          input,
          textarea {
            font-size: 1vw;
            outline: none;
            height: 3vw;
            padding: 0 0 0 1.2vw;
            border: 0.1vw solid #dfdfdf;
            border-radius: 0.2vw;
            background-color: #fdfdfd;
            width: 72%;
          }
          textarea {
            height: auto;
            padding: 1.2vw;
            margin: 0;
            width: max-content;
            @include tablet {
              width: 100%;
            }
          }
        }
        .campo-mensagem {
          align-items: flex-start;
          flex-direction: column;
          border: none;
          label {
            width: 100%;
          }
        }
        .linha {
          display: flex;
          justify-content: space-between;
          .area-botao {
            width: auto;
            margin: 1vw 0 0 auto;
            .botao {
              color: #fdfdfd;
              background: linear-gradient(45deg, #353535, #444);
              padding: 0.8vw 4vw;
              border: none;
              font-size: 1vw;
              border-radius: 0.2vw;
              letter-spacing: 0.1vw;
              svg {
                rect {
                  stroke-width: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
