* {
  &::selection {
    background: $cor-secundaria1;
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  overflow-x: hidden;
  ::-webkit-scrollbar-track {
    background-color: #fdfdfd;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: $cor-secundaria1;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}
button {
  outline: 0;
  cursor: pointer;
}

.botao {
  cursor: pointer;
  transition: 0.3s;
  padding: 0.8vw 2.6vw;
  font-size: 1vw;
  outline: none !important;
  font-weight: 400;
}

.botao-principal {
  background: transparent;
  padding: 6vw 12vw;
  font-size: 2.2vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.botao-secundario {
  background: transparent;
  color: #fdfdfd;
  border: none;
  border-radius: 2px;
  border: 1px solid #fdfdfd;
  &:hover {
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
  }
}

// ANIMACAO BOTAO
.btn {
  color: #fff;
  cursor: pointer;
  // max-width: 800px;
  position: relative;
  width: 100%;
}
.btn-1 {
  background: transparent;
  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  rect {
    fill: none;
    stroke: #d8d8d8;
    stroke-width: 4;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
    @include celular {
      stroke-width: 1;
    }
  }
}

.btn-1:hover {
  background: transparent;
  rect {
    stroke-width: 5;
    stroke-dasharray: 260, 1380;
    stroke-dashoffset: 420;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

// CABECALHO
.efeitoCabecalho {
  background: #000 !important;
  padding: 1.4vw 6vw !important;
}
.efeitoLinks {
  display: flex !important;
}
.efeitoMenu {
  display: none !important;
}
.efeitoRedesSociais {
  display: flex !important;
}

.efeitoLinha1 {
  transform: rotate(45deg);
  top: 0.3vw;
  @include celular {
    top: 1vw;
  }
}
.efeitoLinha2 {
  opacity: 0;
}
.efeitoLinha3 {
  transform: rotate(-45deg);
  bottom: 0.5vw;
  @include tablet {
    bottom: 0.8vw;
  }
  @include celular {
    bottom: 1vw;
  }
}

.efeitoMenuConteudo {
  width: 100% !important;
}

// CABECALHO SINGLE PORTFOLIO
.efeitoCabecalhoSinglePortfolio {
  padding: 1vw 6vw !important;
}

// LOGO SINGLE PORTFOLIO
.efeitoLogoSinglePortfolio {
  width: 4vw !important;
}

// LAYER ANIMACAO
// ABERTURA
// .abertura {
//   position: fixed;
//   width: 100%;
//   z-index: 999999;
//   .faixa {
//     position: absolute;
//     height: 100vh;
//     width: 100%;
//     z-index: 9999;
//     right: 0;
//     &:first-child {
//       background: #fff;
//     }
//     &:nth-child(2) {
//       background: #000;
//     }
//   }
// }
