// MODAL
.efeito-modal {
  width: 100% !important;
  transform: skewX(0deg);
}
.efeito-faixa {
  width: 0% !important;
}
.close-modal {
  position: absolute;
  right: 4%;
  top: 4%;
  z-index: 99;
  cursor: pointer;
  padding: 1vw 0.5vw;
  transition: 0.2s;
  &:hover {
    background: #f5f5f5;
    transform: skewX(-10deg);
  }
  @include tablet {
    &:hover {
      background: #333;
    }
  }
  div {
    background: #333;
    height: 0.14vw;
    width: 2vw;
    transition: 0.2s;
    position: relative;
    @include tablet {
      background: #fff;
    }
    + div {
      margin: 0.5vh 0 0 0;
    }
    &:first-child {
      transform: rotate(45deg);
      top: 0.3vw;
      @include celular {
        top: 0.8vw;
      }
    }
    &:nth-child(2) {
      transform: rotate(-45deg);
      bottom: 0.1vw;
      @include tablet {
        bottom: 0.5vw;
      }
      @include celular {
        bottom: 0.22vw;
      }
    }
  }
}
