// PORTFOLIO
.portfolio {
  background: #353535;
  padding: 8vw 0;
  .header-wrapper {
    display: flex;
    align-items: flex-end;
    width: max-content;
    margin: auto;
    .titulo {
      font-size: 5vw;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.6vw;
      line-height: 80%;
      color: #fff;
    }
    .linha {
      height: 0.05vw;
      width: 30%;
      background: #fff;
      position: absolute;
      left: 0;
    }
  }

  // PILLS
  .nav-tabs {
    border: none;
    width: max-content;
    margin: 3vw auto 0 auto;
    .nav-link {
      background: transparent;
      color: #626262;
      border: none;
      text-transform: uppercase;
      font-size: 1vw;
      letter-spacing: 0.1vw;
      transition: 0.2s;
      padding: 0 1.6vw;
      font-weight: 400;
      outline: none;
      &:hover {
        color: #fdfdfd;
      }
    }
    .active {
      color: #fdfdfd;
    }
  }
  // CONTEUDO PILLS - ALL
  .itens {
    flex-wrap: wrap;
    margin: 3vw 0 0 0;
    // height: 120vh;
    overflow-y: scroll;
    .item {
      width: 33.33%;
      height: 40vh;
      border: 0.1vw solid #353535;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: 0.3s;
      @include tablet {
        height: 22vh;
      }
      @include celular {
        height: 18vh;
      }
      img {
        transition: 2s;
      }
      .overlay {
        background: rgba(#000, 0.2);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.2s;
      }
      &:hover {
        img {
          transform: scale(1.05);
        }
        .overlay {
          background: rgba(#000, 0);
        }
      }
    }
  }
  #nav-eCommerces {
    background: #1d1d1d;
    .item {
      img {
        width: 30vw;
        height: 44vh;
        object-fit: contain;
      }
      .overlay {
        img {
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: 1s;
        }
      }
      &:hover {
        .overlay {
          img {
            opacity: 1;
          }
        }
      }
    }
  }
  #nav-marcas {
    .item {
      background: #1d1d1d;
      img {
        width: 100%;
        height: 40vh;
        object-fit: cover;
      }
    }
  }

  // MARCAS
  #nav-marcas {
    .item {
      img {
        padding: 3vw;
      }
      // Instituto Spadoni Cavalcanti
      &:last-child {
        img {
          padding: 0;
        }
      }
    }
  }

  .show {
    display: flex;
    opacity: 1;
  }
  .area-botao {
    width: max-content;
    margin: 8vw auto 0 auto;
    .botao-principal {
      color: #aaaaaa;
      &:hover {
        color: #fff;
      }
    }
  }
}
