// PRINCIPAL
.principal {
  // HEADER
  .header {
    // CABECALHO
    .cabecalho {
      padding: 3vw 6vw;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 99;
      transition: 0.3s;
      background: transparent;
      // LOGO
      .logo {
        a {
          display: flex;
          align-items: center;
          outline: 0;
          img {
            width: 4.4vw;
            transition: 0.3s;
            @include celular {
              width: 7vw;
            }
          }
        }
      }
      // LINKS
      .links {
        display: flex;
        align-items: flex-start;
        display: none;
        .link {
          color: #fff;
          text-transform: uppercase;
          font-size: 1vw;
          letter-spacing: 0.2vw;
          font-weight: 200;
          display: flex;
          flex-direction: column;
          width: max-content;
          + .link {
            margin: 0 0 0 2vw;
          }
          .linha {
            height: 0.1vw;
            width: 0%;
            background: #d3d3d3;
            transition: 0.3s;
          }
          &:hover {
            .linha {
              width: 98%;
            }
          }
        }
      }
      // REDES SOCIAIS
      .redes-sociais {
        display: none;
        align-items: center;
        img {
          width: 1.4vw;
        }
        a + a {
          img {
            margin: 0 0 0 2.4vw;
          }
        }
      }
      // MENU
      .menu {
        padding: 0.4vw;
        cursor: pointer;
        z-index: 999;
        #linha1,
        #linha2,
        #linha3 {
          background: #fdfdfd;
          height: 0.14vw;
          width: 2vw;
          transition: 0.3s;
          position: relative;
          @include celular {
            width: 4vw;
          }
        }
        #linha2,
        #linha3 {
          margin: 0.5vh 0 0 0;
          @include tablet {
            margin: 0.3vh 0 0 0;
          }
          @include celular {
            margin: 0.5vh 0 0 0;
          }
        }
        // CONTEUDO MENU
        .menu-conteudo {
          width: 0%;
          height: 100vh;
          background: #000;
          position: fixed;
          left: 0;
          top: 0;
          z-index: -2;
          transition: 0.6s;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          @include tablet {
            justify-content: flex-start;
          }
          @include celular {
            padding: 16vw 0 0 0;
          }
          .links-comprimidos {
            width: max-content;
            display: flex;
            flex-direction: column;
            margin: 0 0 6vw 0;
            @include tablet {
              margin: 6vw 0;
            }
            .link {
              font-size: 3vw;
              text-transform: uppercase;
              font-weight: 300;
              letter-spacing: 0.6vw;
              margin: 1.4vw 0 0 6vw;
              color: #fff;
              transition: 0.3s;
              letter-spacing: 0.2vw;
              &:hover {
                color: #a2a2a2;
                letter-spacing: 0.3vw;
              }
              @include celular {
                font-size: 6vw;
              }
            }
          }
          .redes-sociais-comprimidas {
            margin: 0 0 0 6vw;
            width: max-content;
            img {
              width: 1.6vw;
              @include celular {
                width: 4vw;
              }
            }
            a + a {
              img {
                margin: 0 0 0 2.4vw;
              }
            }
          }
        }
      }
    }
    // BANNER
    .banner {
      height: 100vh;
      overflow: hidden;
      position: relative;
      @include tablet {
        height: auto;
      }
      .itens {
        .item {
          outline: none;
          img {
            width: 100%;
            height: 100vh;
          }
        }
      }
      .mouse {
        position: absolute;
        bottom: 2%;
        left: 50%;
        right: 50%;
        animation: animacaoMouseBanner ease-in-out 2s infinite alternate;
        @keyframes animacaoMouseBanner {
          0% {
            bottom: 2%;
          }
          100% {
            bottom: 4%;
          }
        }
        img {
          width: 2.2vw;
        }
      }
      // #video-banner {
      //   width: 100%;
      //   height: 100vh;
      //   object-fit: cover;
      //   position: fixed;
      //   z-index: -999;
      //   @include tablet {
      //     height: 50vh;
      //   }
      // }
    }
  }
}
