// RODAPE
.rodape {
  background: linear-gradient(to bottom, $cor-secundaria1);
  padding: 1.2vw;
  text-align: center;
  .texto {
    color: #fdfdfd;
    font-weight: 200;
    font-size: 0.9vw;
    span {
      font-weight: 800;
    }
  }
}
