// SERVICOS
.servicos {
  background: #fff;
  padding: 8vw 6vw;
  position: relative;
  .header-wrapper {
    display: flex;
    align-items: flex-end;
    .titulo {
      font-size: 5vw;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 0.6vw;
      line-height: 80%;
    }
    .linha {
      height: 0.05vw;
      width: 64%;
      background: #000;
      position: absolute;
      right: 0;
    }
  }
  .itens {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3vw 0 0 0;
    width: 110%;
    .item {
      width: 23%;
      margin: 8vw 0 0 0;
      .titulo {
        font-size: 1.4vw;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2vw;
      }
      .texto {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.1vw;
        margin: 1.8vw 0 0 0;
        letter-spacing: 0.1vw;
      }
    }
  }
  .area-imagem {
    position: absolute;
    left: 0vw;
    bottom: 4.5vw;
    img {
      width: 21vw;
    }
  }
  .area-botao {
    width: max-content;
    margin: 11vw auto 0 auto;
    .botao-principal {
      color: #aaaaaa;
      &:hover {
        color: #000;
      }
    }
  }
}
