// SINGLE PORTFOLIO
.single-portfolio {
  background: #1c1c1c;
  // HEADER
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 6vw;
    background: #1c1c1c;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: 0.3s;
    .logo {
      img {
        width: 4.4vw;
        transition: 0.3s;
      }
    }
    .navegacao {
      display: flex;
      align-items: center;
      .anterior,
      .proximo {
        display: flex;
        align-items: center;
        img {
          width: 1vw;
        }
        span {
          color: #fdfdfd;
          font-size: 0.8vw;
          text-transform: uppercase;
          letter-spacing: 0.08vw;
          transition: 0.3s;
        }
        &:hover {
          span {
            letter-spacing: 0.15vw;
          }
        }
      }
      .anterior {
        img {
          transform: rotate(90deg);
          margin: 0 1.4vw 0 0;
        }
      }
      .proximo {
        margin: 0 4vw;
        img {
          transform: rotate(-90deg);
          margin: 0 0 0 1.4vw;
        }
      }
      .circulos {
        img {
          width: 1.4vw;
        }
      }
    }
  }
  // CONTEUDO
  .conteudo {
    padding: 16vw 12vw 6vw 12vw;
    .linha {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: 0 0 2vw 0;
      .titulo {
        color: #fdfdfd;
        font-size: 2.8vw;
        font-weight: 400;
        padding: 0 1vw 0 0;
        width: 100%;
        line-height: 80%;
      }
      div {
        background: #fdfdfd;
        height: 0.1vw;
        width: 150%;
      }
    }
    .area-imagem-destaque,
    .area-imagem {
      img {
        width: 100%;
      }
    }
    .area-imagem {
      margin: 8vw 0 0 0;
    }
    .visao-geral {
      border-top: 0.1vw solid #fdfdfd;
      margin: 8vw 0;
      h4.texto {
        margin: 1.3vw 0 1vw 0;
        color: #fdfdfd;
        font-weight: 400;
        font-size: 1.2vw;
      }
      p.texto {
        color: #fdfdfd;
        font-size: 2.4vw;
        font-weight: 200;
        line-height: 140%;
        width: 80%;
      }
      .area-botao {
        margin: 2vw 0 0 0;
        a {
          color: #fdfdfd;
          border-bottom: 0.1vw solid #fdfdfd;
        }
      }
    }
  }
}
