/* MIXINS RESPONSIVO */
*::-moz-selection {
  background: #017cff;
  color: #fff;
}
*::selection {
  background: #017cff;
  color: #fff;
}

* img::-moz-selection {
  background: transparent;
}

* img::selection {
  background: transparent;
}

html {
  overflow-x: hidden;
}

html ::-webkit-scrollbar-track {
  background-color: #fdfdfd;
}

html ::-webkit-scrollbar {
  width: 0px;
}

html ::-webkit-scrollbar-thumb {
  background: #017cff;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
}

a:hover {
  color: inherit;
}

button {
  outline: 0;
  cursor: pointer;
}

.botao {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.8vw 2.6vw;
  font-size: 1vw;
  outline: none !important;
  font-weight: 400;
}

.botao-principal {
  background: transparent;
  padding: 6vw 12vw;
  font-size: 2.2vw;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.botao-secundario {
  background: transparent;
  color: #fdfdfd;
  border: none;
  border-radius: 2px;
  border: 1px solid #fdfdfd;
}

.botao-secundario:hover {
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
}

.btn {
  color: #fff;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.btn-1 {
  background: transparent;
}

.btn-1 svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 rect {
  fill: none;
  stroke: #d8d8d8;
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}

@media only screen and (max-width: 480px) {
  .btn-1 rect {
    stroke-width: 1;
  }
}

.btn-1:hover {
  background: transparent;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 260, 1380;
  stroke-dashoffset: 420;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.efeitoCabecalho {
  background: #000 !important;
  padding: 1.4vw 6vw !important;
}

.efeitoLinks {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.efeitoMenu {
  display: none !important;
}

.efeitoRedesSociais {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.efeitoLinha1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.3vw;
}

@media only screen and (max-width: 480px) {
  .efeitoLinha1 {
    top: 1vw;
  }
}

.efeitoLinha2 {
  opacity: 0;
}

.efeitoLinha3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.5vw;
}

@media only screen and (max-width: 768px) {
  .efeitoLinha3 {
    bottom: 0.8vw;
  }
}

@media only screen and (max-width: 480px) {
  .efeitoLinha3 {
    bottom: 1vw;
  }
}

.efeitoMenuConteudo {
  width: 100% !important;
}

.efeitoCabecalhoSinglePortfolio {
  padding: 1vw 6vw !important;
}

.efeitoLogoSinglePortfolio {
  width: 4vw !important;
}

.principal .header .cabecalho {
  padding: 3vw 6vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: transparent;
}

.principal .header .cabecalho .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0;
}

.principal .header .cabecalho .logo a img {
  width: 4.4vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .logo a img {
    width: 7vw;
  }
}

.principal .header .cabecalho .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none;
}

.principal .header .cabecalho .links .link {
  color: #fff;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 0.2vw;
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.principal .header .cabecalho .links .link + .link {
  margin: 0 0 0 2vw;
}

.principal .header .cabecalho .links .link .linha {
  height: 0.1vw;
  width: 0%;
  background: #d3d3d3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.principal .header .cabecalho .links .link:hover .linha {
  width: 98%;
}

.principal .header .cabecalho .redes-sociais {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal .header .cabecalho .redes-sociais img {
  width: 1.4vw;
}

.principal .header .cabecalho .redes-sociais a + a img {
  margin: 0 0 0 2.4vw;
}

.principal .header .cabecalho .menu {
  padding: 0.4vw;
  cursor: pointer;
  z-index: 999;
}

.principal .header .cabecalho .menu #linha1,
.principal .header .cabecalho .menu #linha2,
.principal .header .cabecalho .menu #linha3 {
  background: #fdfdfd;
  height: 0.14vw;
  width: 2vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .menu #linha1,
  .principal .header .cabecalho .menu #linha2,
  .principal .header .cabecalho .menu #linha3 {
    width: 4vw;
  }
}

.principal .header .cabecalho .menu #linha2,
.principal .header .cabecalho .menu #linha3 {
  margin: 0.5vh 0 0 0;
}

@media only screen and (max-width: 768px) {
  .principal .header .cabecalho .menu #linha2,
  .principal .header .cabecalho .menu #linha3 {
    margin: 0.3vh 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .menu #linha2,
  .principal .header .cabecalho .menu #linha3 {
    margin: 0.5vh 0 0 0;
  }
}

.principal .header .cabecalho .menu .menu-conteudo {
  width: 0%;
  height: 100vh;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .principal .header .cabecalho .menu .menu-conteudo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .menu .menu-conteudo {
    padding: 16vw 0 0 0;
  }
}

.principal .header .cabecalho .menu .menu-conteudo .links-comprimidos {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 6vw 0;
}

@media only screen and (max-width: 768px) {
  .principal .header .cabecalho .menu .menu-conteudo .links-comprimidos {
    margin: 6vw 0;
  }
}

.principal .header .cabecalho .menu .menu-conteudo .links-comprimidos .link {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6vw;
  margin: 1.4vw 0 0 6vw;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.2vw;
}

.principal .header .cabecalho .menu .menu-conteudo .links-comprimidos .link:hover {
  color: #a2a2a2;
  letter-spacing: 0.3vw;
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .menu .menu-conteudo .links-comprimidos .link {
    font-size: 6vw;
  }
}

.principal .header .cabecalho .menu .menu-conteudo .redes-sociais-comprimidas {
  margin: 0 0 0 6vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.principal .header .cabecalho .menu .menu-conteudo .redes-sociais-comprimidas img {
  width: 1.6vw;
}

@media only screen and (max-width: 480px) {
  .principal .header .cabecalho .menu .menu-conteudo .redes-sociais-comprimidas img {
    width: 4vw;
  }
}

.principal .header .cabecalho .menu .menu-conteudo .redes-sociais-comprimidas a + a img {
  margin: 0 0 0 2.4vw;
}

.principal .header .banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .principal .header .banner {
    height: auto;
  }
}

.principal .header .banner .itens .item {
  outline: none;
}

.principal .header .banner .itens .item img {
  width: 100%;
  height: 100vh;
}

.principal .header .banner .mouse {
  position: absolute;
  bottom: 2%;
  left: 50%;
  right: 50%;
  -webkit-animation: animacaoMouseBanner ease-in-out 2s infinite alternate;
          animation: animacaoMouseBanner ease-in-out 2s infinite alternate;
}

@-webkit-keyframes animacaoMouseBanner {
  0% {
    bottom: 2%;
  }
  100% {
    bottom: 4%;
  }
}

@keyframes animacaoMouseBanner {
  0% {
    bottom: 2%;
  }
  100% {
    bottom: 4%;
  }
}

.principal .header .banner .mouse img {
  width: 2.2vw;
}

.agencia {
  background: url("../imgs/agencia-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 8vw;
  padding: 0 0 14vw 0;
}

.agencia .bg {
  padding: 3.4vw 6vw 0vw 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #000), to(transparent));
  background: linear-gradient(to bottom, #000 60%, transparent);
}

.agencia .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .agencia .itens {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.agencia .itens .item:first-child {
  width: 44%;
}

.agencia .itens .item:nth-child(2) {
  width: 50%;
  padding: 4vw 0 0 0;
}

.agencia .itens .item .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 3vw 0;
}

.agencia .itens .item .header-wrapper .titulo {
  color: #fdfdfd;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6vw;
  line-height: 80%;
}

.agencia .itens .item .header-wrapper .linha {
  height: 0.05vw;
  width: 25%;
  background: #fdfdfd;
  position: absolute;
  right: 0;
}

.agencia .itens .item img {
  width: 100%;
}

.agencia .itens .item .texto {
  text-transform: uppercase;
  color: #fdfdfd;
  line-height: 4vh;
  font-size: 1.1vw;
  margin: 2vw 0 0 0;
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .agencia .itens .item .texto {
    line-height: 2vh;
  }
}

@media only screen and (max-width: 480px) {
  .agencia .itens .item .texto {
    font-size: 1.6vw;
    line-height: 1.8vh;
  }
}

.agencia .itens .item .texto span {
  font-weight: 800;
  color: #fff;
}

.servicos {
  background: #fff;
  padding: 8vw 6vw;
  position: relative;
}

.servicos .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.servicos .header-wrapper .titulo {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6vw;
  line-height: 80%;
}

.servicos .header-wrapper .linha {
  height: 0.05vw;
  width: 64%;
  background: #000;
  position: absolute;
  right: 0;
}

.servicos .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3vw 0 0 0;
  width: 110%;
}

.servicos .itens .item {
  width: 23%;
  margin: 8vw 0 0 0;
}

.servicos .itens .item .titulo {
  font-size: 1.4vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.servicos .itens .item .texto {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.1vw;
  margin: 1.8vw 0 0 0;
  letter-spacing: 0.1vw;
}

.servicos .area-imagem {
  position: absolute;
  left: 0vw;
  bottom: 4.5vw;
}

.servicos .area-imagem img {
  width: 21vw;
}

.servicos .area-botao {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 11vw auto 0 auto;
}

.servicos .area-botao .botao-principal {
  color: #aaaaaa;
}

.servicos .area-botao .botao-principal:hover {
  color: #000;
}

.portfolio {
  background: #353535;
  padding: 8vw 0;
}

.portfolio .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.portfolio .header-wrapper .titulo {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6vw;
  line-height: 80%;
  color: #fff;
}

.portfolio .header-wrapper .linha {
  height: 0.05vw;
  width: 30%;
  background: #fff;
  position: absolute;
  left: 0;
}

.portfolio .nav-tabs {
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 3vw auto 0 auto;
}

.portfolio .nav-tabs .nav-link {
  background: transparent;
  color: #626262;
  border: none;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: 0.1vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0 1.6vw;
  font-weight: 400;
  outline: none;
}

.portfolio .nav-tabs .nav-link:hover {
  color: #fdfdfd;
}

.portfolio .nav-tabs .active {
  color: #fdfdfd;
}

.portfolio .itens {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3vw 0 0 0;
  overflow-y: scroll;
}

.portfolio .itens .item {
  width: 33.33%;
  height: 40vh;
  border: 0.1vw solid #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .portfolio .itens .item {
    height: 22vh;
  }
}

@media only screen and (max-width: 480px) {
  .portfolio .itens .item {
    height: 18vh;
  }
}

.portfolio .itens .item img {
  -webkit-transition: 2s;
  transition: 2s;
}

.portfolio .itens .item .overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.portfolio .itens .item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio .itens .item:hover .overlay {
  background: rgba(0, 0, 0, 0);
}

.portfolio #nav-eCommerces {
  background: #1d1d1d;
}

.portfolio #nav-eCommerces .item img {
  width: 30vw;
  height: 44vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio #nav-eCommerces .item .overlay img {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio #nav-eCommerces .item:hover .overlay img {
  opacity: 1;
}

.portfolio #nav-marcas .item {
  background: #1d1d1d;
}

.portfolio #nav-marcas .item img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio #nav-marcas .item img {
  padding: 3vw;
}

.portfolio #nav-marcas .item:last-child img {
  padding: 0;
}

.portfolio .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.portfolio .area-botao {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8vw auto 0 auto;
}

.portfolio .area-botao .botao-principal {
  color: #aaaaaa;
}

.portfolio .area-botao .botao-principal:hover {
  color: #fff;
}

.single-portfolio {
  background: #1c1c1c;
}

.single-portfolio .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vw 6vw;
  background: #1c1c1c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-portfolio .header .logo img {
  width: 4.4vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-portfolio .header .navegacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-portfolio .header .navegacao .anterior,
.single-portfolio .header .navegacao .proximo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-portfolio .header .navegacao .anterior img,
.single-portfolio .header .navegacao .proximo img {
  width: 1vw;
}

.single-portfolio .header .navegacao .anterior span,
.single-portfolio .header .navegacao .proximo span {
  color: #fdfdfd;
  font-size: 0.8vw;
  text-transform: uppercase;
  letter-spacing: 0.08vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-portfolio .header .navegacao .anterior:hover span,
.single-portfolio .header .navegacao .proximo:hover span {
  letter-spacing: 0.15vw;
}

.single-portfolio .header .navegacao .anterior img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 1.4vw 0 0;
}

.single-portfolio .header .navegacao .proximo {
  margin: 0 4vw;
}

.single-portfolio .header .navegacao .proximo img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0 0 0 1.4vw;
}

.single-portfolio .header .navegacao .circulos img {
  width: 1.4vw;
}

.single-portfolio .conteudo {
  padding: 16vw 12vw 6vw 12vw;
}

.single-portfolio .conteudo .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2vw 0;
}

.single-portfolio .conteudo .linha .titulo {
  color: #fdfdfd;
  font-size: 2.8vw;
  font-weight: 400;
  padding: 0 1vw 0 0;
  width: 100%;
  line-height: 80%;
}

.single-portfolio .conteudo .linha div {
  background: #fdfdfd;
  height: 0.1vw;
  width: 150%;
}

.single-portfolio .conteudo .area-imagem-destaque img,
.single-portfolio .conteudo .area-imagem img {
  width: 100%;
}

.single-portfolio .conteudo .area-imagem {
  margin: 8vw 0 0 0;
}

.single-portfolio .conteudo .visao-geral {
  border-top: 0.1vw solid #fdfdfd;
  margin: 8vw 0;
}

.single-portfolio .conteudo .visao-geral h4.texto {
  margin: 1.3vw 0 1vw 0;
  color: #fdfdfd;
  font-weight: 400;
  font-size: 1.2vw;
}

.single-portfolio .conteudo .visao-geral p.texto {
  color: #fdfdfd;
  font-size: 2.4vw;
  font-weight: 200;
  line-height: 140%;
  width: 80%;
}

.single-portfolio .conteudo .visao-geral .area-botao {
  margin: 2vw 0 0 0;
}

.single-portfolio .conteudo .visao-geral .area-botao a {
  color: #fdfdfd;
  border-bottom: 0.1vw solid #fdfdfd;
}

.clientes {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #f1f1f1), to(#fff));
  background: linear-gradient(to bottom, #f1f1f1 90%, #fff);
}

.clientes .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 8vw 6vw 6vw 6vw;
}

.clientes .header-wrapper .titulo {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.6vw;
  line-height: 80%;
}

.clientes .header-wrapper .linha {
  height: 0.05vw;
  width: 64%;
  background: #000;
  position: absolute;
  right: 0;
}

.clientes .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clientes .itens .item {
  border: 0.1vw solid #d8d8d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

.clientes .itens .item img {
  width: 100%;
  height: 35vh;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .clientes .itens .item img {
    height: auto;
  }
}

.clientes .mensagem .texto {
  font-size: 1vw;
  margin: auto;
  padding: 8vw 0.8vw 0 0.8vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.15vw;
  color: #333;
}

@media only screen and (max-width: 480px) {
  .clientes .mensagem .texto {
    font-size: 1.4vw;
  }
}

.clientes .mensagem .area-botao {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8vw auto;
}

.clientes .mensagem .area-botao .botao-principal {
  color: #aaaaaa;
}

.clientes .mensagem .area-botao .botao-principal:hover {
  color: #000;
}

.clientes .mensagem .info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 0 8vw 0;
}

.clientes .mensagem .info .endereco,
.clientes .mensagem .info .telefone,
.clientes .mensagem .info .email {
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05vw;
}

.clientes .mensagem .info .telefone {
  font-size: 1.6vw;
}

.clientes .mensagem .info a + a {
  margin: 2.5vw 0 0 0;
}

.clientes .mensagem .info .redes-sociais {
  margin: 3vw 0 0 0;
}

.clientes .mensagem .info .redes-sociais a img {
  width: 1.4vw;
}

.clientes .mensagem .info .redes-sociais a + a {
  margin: 0 0 0 2vw;
}

.contato {
  background: #fff;
  position: fixed;
  width: 0%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
  z-index: 999999;
}

.contato .faixa-contato {
  width: 100%;
  height: 100vh !important;
  background: linear-gradient(45deg, #353535, #000);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  -webkit-transform: scaleX(0deg);
          transform: scaleX(0deg);
}

.contato .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .contato .itens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contato .itens .bg {
  width: 50%;
  background: url("../imgs/contato2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .contato .itens .bg {
    width: 100%;
    height: 30vh;
    background-position: center;
  }
}

@media only screen and (max-width: 480px) {
  .contato .itens .bg {
    height: 20vh;
  }
}

.contato .itens .bg img {
  width: 100%;
  height: 140vh;
}

.contato .itens .formulario {
  width: 50%;
  padding: 3vw 6vw 12vw 4vw;
  overflow: scroll;
  height: 120vh;
}

@media only screen and (max-width: 768px) {
  .contato .itens .formulario {
    width: 70%;
    padding: 6vw 4vw 0vw 4vw;
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  .contato .itens .formulario {
    overflow: hidden;
    padding: 6vw 4vw 0vw 4vw;
  }
}

.contato .itens .formulario .area-texto .texto {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
  color: #636363;
  font-size: 1.1vw;
}

@media only screen and (max-width: 480px) {
  .contato .itens .formulario .area-texto .texto {
    font-size: 1.4vw;
  }
}

.contato .itens .formulario .area-texto .texto + .texto {
  margin: 1vh 0 0 0;
}

@media only screen and (max-width: 480px) {
  .contato .itens .formulario .area-texto .texto + .texto {
    margin: 0.5vw 0 0 0;
  }
}

.contato .itens .formulario .area-texto .texto:first-child {
  font-weight: 800;
}

.contato .itens .formulario form {
  margin: 2vw 0 0 0;
}

.contato .itens .formulario form .campo,
.contato .itens .formulario form .campo-mensagem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2vw 0;
}

@media only screen and (max-width: 480px) {
  .contato .itens .formulario form .campo,
  .contato .itens .formulario form .campo-mensagem {
    padding: 0;
  }
}

.contato .itens .formulario form .campo label,
.contato .itens .formulario form .campo-mensagem label {
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 800;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: pre;
  margin: 0 4vw 0 0;
}

.contato .itens .formulario form .campo input,
.contato .itens .formulario form .campo textarea,
.contato .itens .formulario form .campo-mensagem input,
.contato .itens .formulario form .campo-mensagem textarea {
  font-size: 1vw;
  outline: none;
  height: 3vw;
  padding: 0 0 0 1.2vw;
  border: 0.1vw solid #dfdfdf;
  border-radius: 0.2vw;
  background-color: #fdfdfd;
  width: 72%;
}

.contato .itens .formulario form .campo textarea,
.contato .itens .formulario form .campo-mensagem textarea {
  height: auto;
  padding: 1.2vw;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 768px) {
  .contato .itens .formulario form .campo textarea,
  .contato .itens .formulario form .campo-mensagem textarea {
    width: 100%;
  }
}

.contato .itens .formulario form .campo-mensagem {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.contato .itens .formulario form .campo-mensagem label {
  width: 100%;
}

.contato .itens .formulario form .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contato .itens .formulario form .linha .area-botao {
  width: auto;
  margin: 1vw 0 0 auto;
}

.contato .itens .formulario form .linha .area-botao .botao {
  color: #fdfdfd;
  background: linear-gradient(45deg, #353535, #444);
  padding: 0.8vw 4vw;
  border: none;
  font-size: 1vw;
  border-radius: 0.2vw;
  letter-spacing: 0.1vw;
}

.contato .itens .formulario form .linha .area-botao .botao svg rect {
  stroke-width: 0;
}

.efeito-modal {
  width: 100% !important;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
}

.efeito-faixa {
  width: 0% !important;
}

.close-modal {
  position: absolute;
  right: 4%;
  top: 4%;
  z-index: 99;
  cursor: pointer;
  padding: 1vw 0.5vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.close-modal:hover {
  background: #f5f5f5;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

@media only screen and (max-width: 768px) {
  .close-modal:hover {
    background: #333;
  }
}

.close-modal div {
  background: #333;
  height: 0.14vw;
  width: 2vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .close-modal div {
    background: #fff;
  }
}

.close-modal div + div {
  margin: 0.5vh 0 0 0;
}

.close-modal div:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0.3vw;
}

@media only screen and (max-width: 480px) {
  .close-modal div:first-child {
    top: 0.8vw;
  }
}

.close-modal div:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0.1vw;
}

@media only screen and (max-width: 768px) {
  .close-modal div:nth-child(2) {
    bottom: 0.5vw;
  }
}

@media only screen and (max-width: 480px) {
  .close-modal div:nth-child(2) {
    bottom: 0.22vw;
  }
}

.rodape {
  background: -webkit-gradient(linear, left top, left bottom, from(#017cff));
  background: linear-gradient(to bottom, #017cff);
  padding: 1.2vw;
  text-align: center;
}

.rodape .texto {
  color: #fdfdfd;
  font-weight: 200;
  font-size: 0.9vw;
}

.rodape .texto span {
  font-weight: 800;
}
/*# sourceMappingURL=estilo.css.map */